.container {
    max-width: 2000px;
    padding: 0px 20px;
    margin: 0px auto;  
    height: auto;
    overflow: scroll;
}

.form-container {
    width: 100%;
    background-color: #00008b;
    height: 80px;
    position: relative;
}
.icon {
    width: 15px;
    height: 15px;
}
.form-button {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: -5%;
    border-color: #00008b;
    border-left: #ffffff;
}
.search-input {
    height: 30px;
    width: 94%;
    padding-left: 10px;
    margin-top: 20px;
    outline: none;
    border-color: #00008b; 
    border-right-color: #ffffff;
}
.search-form {
    width: 25%;
    display: block;
    margin: 0px auto;
    position: relative;
}
.search-input:focus {
    border-color: #00008b; 
    outline: none;
}
img {
    width: 100%;
    height: 85%;
    object-fit: cover;
}
.photo-card {
    width: 31%;
    margin-right: 2%;
    margin-bottom: 2%;
    border: 1px solid #a4a4a3;
    border-radius: 4px;
    box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
    padding-bottom: 3%;
}
.photo-card:nth-child(3n + 3) {
    margin-right: 0%;
}
.info {
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}
.info-item:last-child {
    margin-right: 0%;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1%;
}
.load-button {
    display: none;
    background-color: #2d2dda;
    padding: 25px 35px;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    margin: 0px auto;
}
a {
    text-decoration: none;
    color: black;
}
.endless-scroll {
    background-color: #ffffff;
    padding: 15px 25px;
    color: #ec0b0b;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 20px; 
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
    .photo-card {
        width: 48%;   
    }
    .photo-card:nth-child(3n + 3) {
        margin-right: 2%;
    }
    .photo-card:nth-child(2n) {
        margin-right: 0%;
    }
    .endless-scroll {
        padding: 10px 15px;
        font-size: 15px; 
    }
  }
  @media screen and (min-width: 400px) and (max-width: 699px) {
    .photo-card {
        width: 95%;  
        margin: 0%; 
        margin-bottom: 2%;
    }
    .endless-scroll {
        padding: 5px 10px;
        font-size: 12px; 
    }
  }